<header>
  <h1>Backbone UI-Transition-Demo</h1>
</header>
{{outlet}}
<footer>
  <p>Build by Matthijs Groen for Kabisa Front-end sessions / The Guild #2, 2013</p>
  <p>
  Images courtesy of
  <a href='http://lorempixel.com' target='_blank'>Lorempixel.com</a>
  </p>
</footer>
