<section {{bind-attr class=":categories hasActive:open-category"}}>
  <h1>Products</h1>
  <ul class="categories">
    {{#each}}
    <li {{bind-attr class=':category isOpen:active'}}>
      {{#link-to 'product_categories.show' this}}
        <img {{bind-attr src=imageUrl}} height="100" width="100">
      {{/link-to}}
      </li>
    {{/each}}
  </ul>
  {{outlet}}
</section>
